@model ArtHive.Models.Artwork

@{
    ViewData["Title"] = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    //string sourceAction = ViewContext.RouteData.Values["action"].ToString(); // ***** works
}

<div id="artwork-details">
    <img src="~/images/artworks/@Model.Image" alt="@Model.Title" class="artwork-details-background-image">
    <header class="artwork-details-header">
        <a asp-action="@ViewBag.BackAction" asp-route-id="@Model.CollectionId"><i class="fa-solid fa-arrow-left-long"></i> Back</a>
    </header>
    <div class="artwork-details-artwork-info">
        <div class="artwork-details-artwork-info-left">
            <img src="~/images/artworks/@Model.Image" alt="@Model.Title">
        </div>
        <div class="artwork-details-artwork-info-right">
            <h1>@Model.Title</h1>
            <p>BY <span>@Model.Creator</span></p>
            <p>$@Model.Price</p>
            <hr>
            <p>@Model.Description</p>
            @if (User.Identity.IsAuthenticated)
            {
                <form asp-action="AddToCart">
                    <input type="hidden" name="artworkId" value="@Model.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <div class="anchor-link-button-add-to-cart">
                        <input type="submit" value="Add to cart" class="anchor-link-button-text-add-to-cart" />
                        <span class="anchor-link-button-overlay-add-to-cart"></span>
                    </div>
                </form>
            }
        </div>
    </div>
</div>